body {
    background: #dddddd;
    background: #333;
    letter-spacing: 0.2em;
    font-size: 0.8em;
}

.container {
    max-width: 400px;
}

.icon {
    position: relative;
    top: -50px;
    border-radius: 50%;
    width: 100px;
    margin-bottom: -50px;
    border: 2px solid #333;
}

input[type=text],
input[type=text]:focus { 
    color: #fff;
    border: none;
    background: rgba(0,0,0,0.2);
    outline: none;
}